<template id="checkout-periodCheckout-voucherTemplate"> 
<div>
  <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-6">
    <!-- 凭证抽屉 -->
    <v-navigation-drawer v-model="isVoucherTemplateShow" :permanent="isVoucherTemplateShow" fixed temporary right width="800" class="elevation-24">
      <!-- 抽屉标题 -->
      
      <v-row no-gutters>
        <span class="text-h7 font-weight-bold pa-4">期末结转</span>
      </v-row>
      <v-divider class="jh-divider"></v-divider>
      <v-card>
        <v-row class="ma-0 pa-4">
          <v-col cols="12" xs="7" sm="7" md="9" xl="10" class="pa-0">
            <v-btn small color="success" :disabled="isTableLoading" class="elevation-0 mr-2" @click="doUiAction('doGenerateCheckoutVoucherList')">生成结账凭证</v-btn>
            <v-btn small color="warning" :disabled="isTableLoading" class="elevation-0 mr-2" @click="doUiAction('deleteCheckoutVoucher')"><v-icon size="14">mdi-trash-can-outline</v-icon>删除结账凭证</v-btn>
            <v-btn small class="elevation-0 mr-2" :disabled="isTableLoading" @click="doUiAction('refreshTableData')">重新测算</v-btn>
          </v-col>
          
          <v-spacer></v-spacer>
    
          <v-col cols="12" xs="5" sm="5" md="3" xl="2" class="pa-0">
            <v-text-field v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line></v-text-field>
          </v-col>

          <v-col cols="12" class="px-0">
            <v-data-table fixed-header
              :headers="headers"
              :items="tableData"
              :search="searchInput"
              :footer-props="{ itemsPerPageOptions: [20, 40, 60, 100, -1] }"
              :items-per-page="-1"
              mobile-breakpoint="0"
              :loading="isTableLoading"
              checkbox-color="success"
              class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
              <!-- 处理显示列 -->
              <template v-slot:item.amount="{ item }">
                <span v-if="item.voucherTemplateName === '结转损益-本期'">利润:</span>
                <span v-if="item.voucherTemplateName === '计提地税'">地税:</span>
                <a>{{ item.voucherNew.amountSum }}</a>
              </template>               
              <template v-slot:item.voucher="{ item }">
                <voucher-paper :voucher-id="item.voucherOld.voucher.voucherId" readonly></voucher-paper>
              </template>
              <template v-slot:item.action="{ item }">
                <span role="button" class="error--text jh-font-size-3 pr-2" @click="doUiAction('startUpdateItem', {item})">
                  <v-icon size="14" class="error--text">mdi-note-edit-outline</v-icon>编辑模板
                </span>
                <span role="button" class="success--text jh-font-size-3 pr-2" @click="doUiAction('doGenerateCheckoutVoucherList')">
                  <v-icon small class="success--text">mdi-plus-outline</v-icon>{{ item.voucherOld && item.voucherOld.voucher.voucherId ? '重新生成': '生成凭证'}}
                </span>
              </template>

              <!-- 没有数据 -->
              <template v-slot:loading>
                <div class="jh-no-data">数据加载中</div>
              </template>
              <template v-slot:no-data>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <template v-slot:no-results>
                <div class="jh-no-data">暂无数据</div>
              </template>
              <!-- 表格分页 -->
              <template v-slot:footer.page-text="pagination">
                <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                <span class="ml-1">共{{pagination.itemsLength}}条</span>
              </template>
            </v-data-table>

          </v-col>
        </v-row>

      </v-card>
      
      <!-- 抽屉关闭按钮 -->
      <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isVoucherTemplateShow = false">
        <v-icon>mdi-close</v-icon>
      </v-btn>
    </v-navigation-drawer>
  </v-container>

  <!-- 编辑抽屉 -->
  <v-dialog v-model="isEditDrawerShow" transition="dialog-bottom-transition" max-width="800">
    <template v-slot:default="dialog">
      <v-card>
        <v-card-title class="pa-4">
          <v-row class="justify-space-between pt-3 px-3 pb-1">
            <span class="text-h7 font-weight-bold">{{ editItem.voucherTemplateName }}-编辑</span>
            <v-spacer></v-spacer>
            <v-btn class="elevation-0" fab x-small @click="isEditDrawerShow = false">
              <v-icon dark>mdi-close</v-icon>
            </v-btn>
          </v-row>
        </v-card-title>
        <v-divider class="jh-divider"></v-divider>
        <v-form v-model="isFormValid" ref="form" lazy-validation>

          <v-card-text class="pt-0 px-2" v-if="editItem.voucherTemplateName == '结转损益-本期'">  
            <v-row class="px-3">
              <v-col cols="6">
                <span class="jh-input-label">凭证日期</span>
                <v-text-field class="jh-v-input " dense filled single-line disabled
                  v-model="editItem.voucherAt"></v-text-field>
              </v-col>
              <v-col cols="6"></v-col>
              <v-col cols="12">
                <span class="title">本期损益</span>
              </v-col>
              <v-col cols="6">
                <span class="jh-input-label">凭证字</span>
                <v-text-field class="jh-v-input " dense filled single-line 
                  v-model="editItem.voucherTemplateConfig.voucherName"></v-text-field>
              </v-col>        
              <v-col cols="6">
                <span class="jh-input-label">凭证摘要</span>
                <v-text-field class="jh-v-input " dense filled single-line 
                  v-model="editItem.voucherTemplateConfig.entryAbstract"></v-text-field>
              </v-col>
              <v-col cols="6">
                <span class="jh-input-label">损益科目</span>
                <v-text-field class="jh-v-input " dense filled single-line disabled
                  v-model="editItem.voucherTemplateConfig.profitLossSubjectTip"></v-text-field>
              </v-col>
              <v-col cols="6">
                <span class="jh-input-label">损益科目的结转科目</span>
                <v-autocomplete class="jh-v-input " disabled :items="subjectList" item-text="subjectIdLabel" item-value="subjectId" dense filled single-line 
                  v-model="editItem.voucherTemplateConfig.carrySubjectId"> </v-autocomplete>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-text class="pt-0 px-2" v-else-if="editItem.voucherTemplateName == '结转损益-以前年度'">  
            <v-row class="px-3">
              <v-col cols="6">
                <span class="jh-input-label">凭证字</span>
                <v-text-field class="jh-v-input " dense filled single-line 
                  v-model="editItem.voucherTemplateConfig.voucherName"></v-text-field>
              </v-col>       
              <v-col cols="6">
                <span class="jh-input-label">凭证摘要</span>
                <v-text-field class="jh-v-input " dense filled single-line 
                  v-model="editItem.voucherTemplateConfig.entryAbstract"></v-text-field>
              </v-col>
              <v-col cols="6">
                <span class="jh-input-label">损益科目</span>
                <v-autocomplete class="jh-v-input " disabled :items="subjectList" item-text="subjectIdLabel" item-value="subjectId" dense filled single-line 
                  v-model="editItem.voucherTemplateConfig.profitLossSubjectId"> </v-autocomplete>
              </v-col>
              <v-col cols="6">
                <span class="jh-input-label">损益科目的结转科目</span>
                <v-autocomplete class="jh-v-input " disabled :items="subjectList" item-text="subjectIdLabel" item-value="subjectId" dense filled single-line 
                  v-model="editItem.voucherTemplateConfig.carrySubjectId"> </v-autocomplete>
              </v-col>
            </v-row>
          </v-card-text>

          <v-card-text class="py-0 px-2" v-else-if="editItem.voucherTemplateName == '计提地税'">
            <voucher-template-compute-edit-form ref="editForm" v-model="editItem.voucherTemplateConfig" :edit-item="editItem" :subject-list="subjectList"/>
          </v-card-text>

          <v-card-text v-else>
            -----
          </v-card-text>
        </v-form>
        <v-card-actions class="justify-end pb-4">
          <v-btn color="success" @click="doUiAction('updateItem')"><v-icon size="14">mdi-content-save-check-outline</v-icon>保存</v-btn>
          <v-btn class="ml-2" @click="isEditDrawerShow = false"><v-icon size="14">mdi-close</v-icon>取消</v-btn>
        </v-card-actions>
      </v-card>
    </template>
  </v-dialog>
</div>
</template>

{% include 'component/voucher/voucherPaper.html' %}
<script type="module">
Vue.component("checkout-periodCheckout-voucherTemplate", {
  template: '#checkout-periodCheckout-voucherTemplate',
  vuetify: new Vuetify(),
  props: ['periodId'],
  data: () => ({
    // 表格相关数据
    isFormValid: true,
    validationRules: {
      requireRules: [
        v => !!v || '必填',
      ],
    },
    constantObj: {
    },

    searchInput: null,
    isTableLoading: true,
    tableDataFromBackend: [],
    headers: [
      {text: "模板名称", value: "voucherTemplateName", width: 120}, 
      {text: "模板类型", value: "voucherType", width: 80}, 
      {text: "金额", value: "amount", width: 150}, 
      {text: "凭证", value: "voucher"}, 
      {text: '操作', value: 'action', align: 'left', sortable: false, width: 180},

    ],
    isVoucherTemplateShow: false, 
    isEditDrawerShow: false,
    editItem: {},
    isAddDrawerShow: false,
    addItem: {},
    subjectList: [],
  }),
  computed: {
    tableData() {
      return this.tableDataFromBackend;
    }
  },
  async created() {
    await this.doUiAction('getSubjectList');
  },
  mounted() {
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'refreshTableData':
          await this.refreshTableData();
          break;
        case 'startUpdateItem':
          await this.prepareItemData(uiActionData);
          await this.openUpdateDialog();
          break;
        case 'updateItem':
          await this.prepareValidate();
          await this.confirmUpdateItemDialog();
          await this.doUpdateItem();
          await this.closeDrawerShow();
          await this.refreshTableData();
          break;
        case 'doGenerateCheckoutVoucherList':
          await this.doGenerateCheckoutVoucherList(uiActionData);
          await this.refreshTableData();
          break;
        case 'deleteCheckoutVoucher':
          await this.deleteCheckoutVoucher();
          await this.refreshTableData();
          break;
        case 'getSubjectList': 
          await this.getSubjectList();
          break;
        case 'open': 
          await this.open();
          await this.refreshTableData();
          // Tip: 测试代码
          // await this.doUiAction('startUpdateItem', { item: this.tableDataFromBackend[0] });
          break;
        default:
          console.error("[doUiAction] uiActionId not find", { uiActionId });
          break;
      }
    },
    // =================================uiAction 公共方法 start ======================================
    /**
     * uiActionId:  prepareValidate
     * description: ✅表单校验
    */
    async prepareValidate() {
      if (this.$refs.form.validate() === false) {
        window.vtoast.fail({ message: "输入有误, 请检查!" });
        throw new Error("[prepareValidate] false");
      }
    },

    /**
     * uiActionId:  refreshTableData
     * description: ✅获取表格数据
    */
    async refreshTableData() {
      this.isTableLoading = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'checkout-periodCheckout',
            actionId: 'voucherTemplate-getCheckoutVoucherList',
            actionData: { periodId: this.periodId },
            where: {},
            orderBy: [{column: 'id', order: 'esc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;
      rows.forEach(row => { row.voucherTemplateConfig = JSON.parse(row.voucherTemplateConfig || '{}'); })
      this.tableDataFromBackend = rows;
      this.isTableLoading = false;
    },
    // =================================uiAction 公共方法 end ======================================

    async closeDrawerShow() {
      this.isEditDrawerShow = false;
      this.isAddDrawerShow = false;
    },

    /**
     * uiActionId:  startUpdateItem
     * description: ✅获取表格数据
    */
    async prepareItemData({item}) {
      this.editItem = {
        ...item,
        periodId: this.periodId,
        voucherAt: dayjs(this.periodId).endOf('month').format('YYYY-MM-DD'),
      };
    },
    async openUpdateDialog() {
      this.isEditDrawerShow = true;
    },
    /**
     * uiActionId:  updateItem
     * description: ✅获取表格数据
    */
    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("取消");
      }
    },
    async doUpdateItem() {
      const { id, voucherTemplateConfig } = this.editItem;
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'checkout-periodCheckout',
            actionId: 'voucherTemplate-updateItem',
            actionData: { voucherTemplateConfig: JSON.stringify(voucherTemplateConfig, null, 4) },
            where: {id}
          }
        }
      })
      await window.vtoast.success("修改数据成功");
    },
    async doGenerateCheckoutVoucherList() {
      if (await window.confirmDialog({title: "生成凭证", content: "确定生成凭证吗？"}) === false) {
        throw new Error("取消");
      }
      this.isTableLoading = true;
      await window.vtoast.loading("生成凭证");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'checkout-periodCheckout',
            actionId: 'voucherTemplate-generateCheckoutVoucherList',
            actionData: { 
              periodId: this.periodId,
            }
          }
        }
      })
      await window.vtoast.success("生成凭证成功");
    },
    async deleteCheckoutVoucher() {
      if (await window.confirmDialog({title: "删除结账凭证", content: "确定删除\"所有\"结账凭证吗？"}) === false) {
        throw new Error("取消");
      }
      this.isTableLoading = true;
      await window.vtoast.loading("删除结账凭证");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'checkout-periodCheckout',
            actionId: 'voucherTemplate-deleteCheckoutVoucher',
            actionData: { 
              periodId: this.periodId,
            }
          }
        }
      })
      await window.vtoast.success("删除结账凭证");
    },
    
    
    async getSubjectList() {
      this.loadingSubjectList = true;
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'checkout-periodCheckout',
            actionId: 'voucherTemplate-selectSubjectList',
            actionData: {},
            // where: { subjectHasChildren: '无下级科目' },
            orderBy: [{column: 'subjectCategory', order: 'desc'}, {column: 'subjectId', order: 'asc'}]
          }
        }
      });
      const { rows } = result.data.appData.resultData;
      this.subjectList = rows;
      this.loadingSubjectList = false;
    },

    async open() {
      this.isVoucherTemplateShow = true;
    }
  }
})
</script>
