<template id="jhLayout-v4">
  <v-app id="inspire" mobile-breakpoint="sm">
    <div v-if="layoutLoading" class="text-center mt-10">
      <v-progress-circular
          :size="70"
          :width="7"
          color="success"
          indeterminate
      ></v-progress-circular>
    </div>
    <template v-else>
      <v-navigation-drawer
          v-model="drawer"
          app
          clipped
          v-if="isMobile"
          style="z-index: 99999"
      >
        <v-list>
          <v-list-item-group
              v-model="selectedItem"
              color="success"
          >
            <v-list-item
                disabled
                :class="{'pa-2': !isMobile}"
                style="height: 80px!important; color: #333333"
            >
              <v-list-item-content :class="{'pl-3': isMobile, 'pa-0': isMobile}">
                <v-list-item-title style="font-size: 18px!important; font-weight: bold">
                  {{ appTitle }}
                </v-list-item-title>
              </v-list-item-content>
            </v-list-item>
            <template v-for="item in inMenuList">
              <template v-if="item.children && item.children.length > 0">
                <v-list-group
                    :value="item.extend"
                >
                  <template v-slot:activator>
                    <v-list-item-content :class="{'pl-3': isMobile, 'pa-0': isMobile}">
                      <v-list-item-title style="font-size: 14px;">
                        {{ item.title }}
                      </v-list-item-title>
                    </v-list-item-content>
                  </template>
                  <v-list-item @click="jump(menu.path, menu.query)" v-for="menu in item.children">
                    <v-list-item-content>
                      <v-list-item-title class="pl-7" style="font-size: 12px; color: #666977;">{{ menu.title }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list-group>
              </template>
              <v-list-item
                  v-else
                  :class="{'pa-2': !isMobile}"
                  :key="item.path"
                  @click="jump(item.path, item.query)"
              >
                <v-list-item-content :class="{'pl-3': isMobile, 'pa-0': isMobile}">
                  <v-list-item-title style="font-size: 14px;">
                    {{ item.title }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </template>
          </v-list-item-group>
        </v-list>
      </v-navigation-drawer>
      <v-app-bar
          app
          clipped-left
          height="60"
          :class="{'px-12': !isMobile, 'px-4': isMobile}"
          style="z-index: 50;"
          flat
      >
        <v-app-bar-nav-icon color="success" @click.stop="drawer = !drawer" v-if="isMobile"></v-app-bar-nav-icon>

        <v-toolbar-title ref="toolbarTitle" class="mr-8 pa-0 align-center" style="font-size: 14px"
                         :style="{'flex': isMobile ? 1 : 'none'}">
          <span class="title" style="font-size: 15px!important; font-weight: 500">{{ appTitle }}</span>
        </v-toolbar-title>

        <v-tabs
            v-model="selectedItem"
            v-if="!isMobile"
            show-arrows
            slider-size="0"
            color="success"
            :style="{maxWidth: tabsMaxWidth}"
        >
          <template v-for="(item, index) in inMenuList">
            <template v-if="item.pageId && !item.children">
              <v-tab
                  class="px-5 headerTab"
                  active-class="headerTabActive"
                  :key="item.path"
                  @click="jump(item.path, item.query)"
              >
                {{ item.title }}
              </v-tab>
            </template>

            <template v-else>
              <v-menu offset-y v-model="showMenu[index]">
                <template v-slot:activator="{ on, attr, value }">
                  <v-tab
                      class="px-5 headerTab"
                      :class="{'parent-tab-active': selectedItem === index, 'headerTabActive': selectedItem === index}"
                      :key="item.path"
                      v-bind="attr"
                      v-on="on"
                      @click="activeMenuIndex = index"
                  >
                    {{ item.title }}
                    <v-icon v-if="value" size="12">mdi-chevron-up</v-icon>
                    <v-icon v-else size="12">mdi-chevron-down</v-icon>
                  </v-tab>
                </template>
                <v-list nav dense>
                  <v-list-item @click="jump(child.path, child.query)"
                               v-for="(child, childIndex) in item.children"
                               :class="{'second-active': secondSelectedItem === child.pageId && selectedItem === index}"
                  >
                    <v-list-item-content>
                      <v-list-item-title style="font-size: 14px; color: #41434f">{{ child.title }}</v-list-item-title>
                    </v-list-item-content>
                  </v-list-item>
                </v-list>
              </v-menu>

            </template>
            <v-divider
                style="max-height: 35px;min-height: 35px;align-self: center;"
                v-if="item.path && item.path.includes('operationManual')"
                vertical
            ></v-divider>
          </template>
        </v-tabs>

        <div style="white-space: nowrap">
          <v-menu offset-y>
            <template v-slot:activator="{ on }">
              <template v-if="!isMobile">
                <v-btn disabled text class="ml-1 mr-0 pr-0 text-none" v-on="on">
                  <span style="font-size: 13px;
                  font-weight: 400;
                  color: #1F272E;">{{ userInfo.user.username }}</span>
                </v-btn>
              </template>
              <v-btn icon small class="ml-1" color="#1F272E" v-on="on">
                <v-icon>mdi-account-circle</v-icon>
              </v-btn>
            </template>

            <v-list nav dense>

              <v-list-item
                  class="mt-2"
              >
                <v-list-item-icon class="mr-2 mt-4">
                  <v-icon color="#1F272E" style="font-size: 18px;">mdi-account-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title style="font-size: 13px; color: #1F272E;font-weight: 400;">{{
                      userInfo.user.userId
                    }}
                  </v-list-item-title>
                  <v-list-item-subtitle style="font-size: 13px; color: #1F272E;font-weight: 400;">
                    {{ userInfo.user.username }}
                  </v-list-item-subtitle>
                </v-list-item-content>
              </v-list-item>

              <v-list-item
                  v-for="(item, index) in profileMenus"
                  :key="index"
                  :href="item.path"
                  class="mt-2"
              >
                <v-list-item-icon>
                  <v-icon color="#1F272E" style="font-size: 18px;">{{ item.icon }}</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title style="font-size: 13px; color: #1F272E;font-weight: 400;">{{
                      item.title
                    }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>
              <v-list-item v-for="avatarMenu of inAvatarMenuList" :key="avatarMenu.path" :href="avatarMenu.path">
                <v-list-item-icon class="mr-2">
                  <v-icon color="#1F272E" style="font-size: 18px;">mdi-account-cog-outline</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title style="font-size: 13px; color: #1F272E;font-weight: 400;">{{
                      avatarMenu.title
                    }}
                  </v-list-item-title>
                </v-list-item-content>
              </v-list-item>

              <v-list-item @click="logout">
                <v-list-item-icon class="mr-2">
                  <v-icon color="#1F272E" style="font-size: 18px;">mdi-logout</v-icon>
                </v-list-item-icon>
                <v-list-item-content>
                  <v-list-item-title style="font-size: 13px; color: #1F272E;font-weight: 400;">登出</v-list-item-title>
                </v-list-item-content>
              </v-list-item>
            </v-list>
          </v-menu>
        </div>
      </v-app-bar>

      <v-main class="d-flex flex-column">
        <div class="d-flex" :style="{'flex-wrap': isMobile ? 'wrap' : 'nowrap'}"
             :class="{'px-12': !isMobile, 'px-4': isMobile}">
          <div>
            <div class="appTitle pt-3" style="font-size: 18px; font-weight: 700">
              <slot name='breadcrumbsTitle' :isMobile="isMobile">{{ breadcrumbs[1].fullText }}</slot>
            </div>
            <slot name='breadcrumbsList' :isMobile="isMobile">
              <v-breadcrumbs
                  class="pb-3 pt-0 pl-0"
                  :items="breadcrumbs"
                  divider="-"
              ></v-breadcrumbs>
            </slot>
          </div>
          <slot name="topRightWidget" :isMobile="isMobile"></slot>
          <div style="flex: 1" class="outSideMain" :class="{'pt-0': isMobile, 'pt-2': !isMobile}">
            <slot name='serverSearch' :isMobile="isMobile"></slot>
          </div>
        </div>
        <div style="flex: 1;" :class="{'px-12': !isMobile, 'pt-4': fullScreen}">
          <slot :isMobile="isMobile"></slot>
        </div>
      </v-main>
    </template>
  </v-app>
</template>
<!-- jhLayout.html start -->
<script>
Vue.component("jh-layout-v4", {
  vuetify: new Vuetify(),
  name: 'jh-layout-v4',
  props: {
    fullScreen: {
      type: Boolean,
      default: false
    }
  },

  data: () => ({
    // 是否与登录
    layoutLoading: true,

    selectedItem: -1,
    selectItemTitle: '',
    drawer: null,

    appDirectoryLink: '<$ ctx.app.config.appDirectoryLink $>',
    appType: '<$ ctx.app.config.appType $>',
    appTitle: '<$ ctx.app.config.appTitle $>',
    showMenu: {},
    activeMenuIndex: -1,
    showMenuBackups: {},
    secondSelectedItem: null,
    userInfo: {
      user: {}
    },
    breadcrumbs: [
      {
        text: '首页',
        fullText: '首页',
        disabled: true,
      },
      {
        text: '首页',
        fullText: '首页',
        disabled: true,
        href: ''
      },
    ],

    // 用户菜单
    inMenuList: [],
    inAvatarMenuList: [],
    profileMenus: [],
    tabsMaxWidth: 'calc(100vw - 353px)'
  }),

  watch: {
    drawer(value) {
      this.locateCurrentMenuItem();
    },
    showMenu: {
      deep: true,
      handler(value, oValue) {
        if(this.activeMenuIndex > -1 && !value[this.activeMenuIndex]) {
          this.locateCurrentMenuItem();
        }
      }
    }
  },

  computed: {
    isMobile() {
      return window.innerWidth < 600;
    }
  },

  async created() {
    const urlPathList = window.location.pathname.split('/');
    this.currentPageId = urlPathList && urlPathList[urlPathList.length - 1];
    await this.getLoginUserInfo();
    this.computedMenuList();
    this.locateCurrentMenuItem();
    this.getTabsMaxWidth();
  },

  methods: {
    // 动态计算菜单栏目的最大宽度，按照实际的标题宽度计算
    getTabsMaxWidth() {
      this.$nextTick(() => {
        if (this.$refs.toolbarTitle) {
          this.tabsMaxWidth = 'calc(100vw - ' + (this.$refs.toolbarTitle.offsetWidth + 249) + 'px)';
        }
      })
    },
    // 跳转链接
    jump(url, queryParams) {
      if (!url) return;
      if (queryParams) {
        const queryStrings = Object.keys(queryParams)
            .map(k => encodeURIComponent(k) + '=' + encodeURIComponent(queryParams[k]))
            .join('&');
        window.location.href = url + '?' + queryStrings;
      } else {
        window.location.href = url;
      }
    },
    // 定位当前页面在属于哪个菜单
    locateCurrentMenuItem() {
      // 遍历菜单 path 进行匹配
      const index = _.findIndex(this.inMenuList, {path: location.pathname});
      if (index > -1) {
        // 设置标题、菜单选中
        this.selectedItem = index + (this.isMobile ? 1 : 0);
        this.selectItemTitle = this.inMenuList[index].title;
        document.title = this.appTitle + (this.selectItemTitle ? " - " + this.selectItemTitle : "")
      } else {
        this.inMenuList.some((item, index) => {
          const exist = item.children && item.children.some((child, childIndex) => {
            if(child.pageId === this.currentPageId) {
              this.secondSelectedItem = child.pageId;
              return true;
            }
            return false;
          })
          if(exist) {
            this.selectedItem = index;
            return true;
          }
          return false;
        })
      }

    },
    // 获取用户信息
    async getLoginUserInfo() {
      const userInfo = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'allPage',
            actionId: 'userInfo',
            actionData: {},
          }
        }
      }).then(response => {
        return response.data.appData.resultData;
      })
      this.userInfo = userInfo;
      this.$emit('layoutData', {userInfo: this.userInfo})
      if (this.userInfo.username) {
        localStorage.setItem(`${window.appInfo.appId}_username`, this.userInfo.username);
      }
      this.layoutLoading = false;
    },
    computedMenuList() {
      const appType = '<$ ctx.app.config.appType $>';
      const urlParams = new URLSearchParams(location.search);
      let title = urlParams.get('title');

      // 处理过长的 title
      if (title && title.length > 10) {
        title = `${title.slice(0, 5)}...${title.slice(title.length - 4, title.length)}`
      }
      // || (_.includes(['dynamicInMenu', 'avatarInMenu'], page.pageType) && currentPageId === page.pageId)
      const menuListResource = _
          .chain(this.userInfo.allowPageList)
          .filter(page => page.pageType === 'showInMenu' || page.pageType === 'link' || (_.includes(['dynamicInMenu', 'avatarInMenu'], page.pageType) && this.currentPageId === page.pageId))
          .value();
      // 面包屑
      const currentMenu = menuListResource.find(item => this.currentPageId === item.pageId);
      if (currentMenu) {
        const tempTitle = title ? `【${title}】` : '';
        this.breadcrumbs[1].text = currentMenu.pageType === 'dynamicInMenu' ? `${currentMenu.pageName}${tempTitle}` : currentMenu.pageName;
        this.breadcrumbs[1].fullText = currentMenu.pageName;
        this.breadcrumbs[1].href = `/${window.appInfo.appId}/page/${currentMenu.pageId}`;
      }
      let menuGroup = _.groupBy(menuListResource, function (item) {
        if (item.pageName.startsWith("[")) {
          const tempStr = item.pageName.substring(1);
          const tempArr = tempStr.split("]");
          return `${tempArr[0]}`;
        }
        if (item.pageName.includes("|")) {
          return item.pageName.split("|")[0];
        }
        return `${item.pageName}`;
      });
      // 二级排序
      for (let key in menuGroup) {
        menuGroup[key] = _.orderBy(menuGroup[key], ['sort'], ['asc'])
      }
      // 一级菜单排序
      const menuSort = Object.keys(menuGroup).sort((a, b) => {
        return menuGroup[a][0].sort - menuGroup[b][0].sort
      })

      this.inMenuList = menuSort.map(key => {
        const page = menuGroup[key];
        if (page.length === 1) {
          const menu = page[0];
          let title = '';
          if (menu.pageName.startsWith("[")) {
            const tempStr = menu.pageName.substring(1);
            title = tempStr.split("]")[0];
          } else if (menu.pageName.includes("|")) {
            title = menu.pageName.split('|')[0];
          } else {
            title = menu.pageName;
          }

          return {
            path: menu.pageType === 'link' ? menu.pageFile : `/${window.appInfo.appId}/page/${menu.pageId}`,
            pageId: menu.pageId,
            title,
            children: null
          };
        } else {
          const children = page.map(child => {
            let title = '';
            if (child.pageName.startsWith("[")) {
              const tempStr = child.pageName.substring(1);
              title = tempStr.split("]")[1];
            } else if (child.pageName.includes("|")) {
              title = child.pageName.split('|')[1];
            } else {
              title = child.pageName;
            }
            return {
              path: child.pageType === 'link' ? child.pageFile : `/${window.appInfo.appId}/page/${child.pageId}`,
              pageId: child.pageId,
              title,
              children: null
            };
          });
          return {
            path: null,
            pageId: null,
            title: key,
            children
          }
        }
      })

      // this.inMenuList = _
      //     .chain(this.userInfo.allowPageList)
      //     .filter(page => page.pageType === 'showInMenu' || page.pageType === 'link' || (_.includes(['dynamicInMenu', 'avatarInMenu'], page.pageType) && currentPageId === page.pageId))
      //     .map((page) => {
      //       if(currentPageId === page.pageId) {
      //         // this.breadcrumbs[1].text = page.pageName.split('-')[0];
      //         const tempTitle = title ? `【${title}】` : '';
      //         this.breadcrumbs[1].text = page.pageType === 'dynamicInMenu' ? `${page.pageName}${tempTitle}` : page.pageName;
      //         this.breadcrumbs[1].fullText = page.pageName;
      //         this.breadcrumbs[1].href = `/${window.appInfo.appId}/page/${page.pageId}`;
      //       }
      //       return {
      //         path: page.pageType === 'link' ? page.pageFile : `/${window.appInfo.appId}/page/${page.pageId}`,
      //         pageId: page.pageId,
      //         title: page.pageName.split('-')[0],
      //         sort: parseInt(page.sort),
      //         children: []
      //       };
      //     })
      //     .orderBy(['sort'], ['asc'])
      //     .value();

      if (appType === 'multiApp' && this.appDirectoryLink) {
        this.inMenuList.unshift({path: this.appDirectoryLink, title: '回到目录'});
      }

      this.inAvatarMenuList = _
          .chain(this.userInfo.allowPageList)
          .filter(['pageType', 'showInAvatarMenu'])
          .map((page) => {
            return {
              path: `/${window.appInfo.appId}/page/${page.pageId}`,
              title: page.pageName,
              sort: parseInt(page.sort)
            };
          })
          .orderBy(['sort'], ['asc'])
          .value();
    },
    // 登出
    async logout() {
      try {
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'allPage',
              actionId: 'logout'
            }
          }
        })
        vtoast.success('注销成功');
        localStorage.removeItem(`${window.appInfo.authTokenKey}_authToken`);
        setTimeout(() => {
          location.href = '<$ ctx.app.config.loginPage $>';
        }, 700);
      } catch (error) {
        vtoast.fail(error.errorReason);
        localStorage.removeItem(`${window.appInfo.authTokenKey}_authToken`);
        setTimeout(() => {
          location.href = '<$ ctx.app.config.loginPage $>';
        }, 700);
      }
    }
  },
  template: '#jhLayout-v4',
})
</script>
<style>
.second-active .v-list-item__title {
  color: #4caf50 !important;
}
.second-active {
  caret-color: #4caf50 !important;
  background-color: rgba(76, 175, 80, 0.1) !important;
}
</style>
<!-- jhLayout.html end -->
