{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<!--SQL START
-- 以下为 jianghu init 工具生成的参考 SQL，使用后删除
-- 创建 page
INSERT INTO `_page` (`pageId`,`pageName`,`pageType`,`sort`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT 'fundAccountEntryManagement','页面','showInMenu','5','jhInsert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_page` WHERE `pageId`='fundAccountEntryManagement');

-- 创建 resource
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'fundAccountEntryManagement','selectItemList','✅查询-查询列表','sql','{}','{ \"table\": \"fund_account_entry\", \"operation\": \"select\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='fundAccountEntryManagement' AND `actionId`='selectItemList');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'fundAccountEntryManagement','insertItem','✅查询-添加成员','sql','{}','{ \"table\": \"fund_account_entry\", \"operation\": \"insert\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='fundAccountEntryManagement' AND `actionId`='insertItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'fundAccountEntryManagement','updateItem','✅查询-更新成员','sql','{}','{ \"table\": \"fund_account_entry\", \"operation\": \"update\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='fundAccountEntryManagement' AND `actionId`='updateItem');
INSERT INTO `_resource` (`accessControlTable`,`resourceHook`,`pageId`,`actionId`,`desc`,`resourceType`,`appDataSchema`,`resourceData`,`requestDemo`,`responseDemo`,`operation`,`operationByUserId`,`operationByUser`,`operationAt`) SELECT NULL,NULL,'fundAccountEntryManagement','deleteItem','✅查询-删除信息','sql','{}','{ \"table\": \"fund_account_entry\", \"operation\": \"delete\" }','','','insert',NULL,NULL,NULL FROM DUAL WHERE NOT EXISTS (SELECT `pageId` FROM `_resource` WHERE `pageId`='fundAccountEntryManagement' AND `actionId`='deleteItem');
SQL END!-->

<script type="text/html" id="app-template">
<div>
<v-app mobile-breakpoint="sm">
  <jh-menu />
  <v-main class="mt-15">
    <!-- 头部内容 >>>>>>>>>>>>> -->
    <div class="jh-page-second-bar px-8">
      <v-row class="align-center" no-gutters>
        <v-col cols="12" xs="12" sm="12" md="4" xl="3">
          <div class="py-4 text-body-1 font-weight-bold d-flex align-center">核对总账
            <!-- 帮助页按钮 -->
            <span role="button" class="success--text font-weight-regular jh-font-size-13 mx-2" @click="jumpToUrl">
                  <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
                </span>
            <select-appaId/>
          </div>
        </v-col>
        <v-col cols="12" xs="12" sm="12" md="8" xl="9">
          <v-row no-gutters class="align-center justify-end ma-0 pb-xs-2">
            <v-col cols="12" xs="12" sm="6" md="4" xl="3" class="px-0 pr-md-2 pb-2 pb-md-0">
              <v-select label="请选择资金账号" v-model="serverSearchInput.accountId" color="success" class="jh-v-input bg-white" :items="constantObj.fundAccountList" dense filled single-line clearable @click:clear="serverSearchInput.accountId = null"></v-select>
            </v-col>
            <v-col cols="12" xs="12" sm="6" md="4" xl="3" class="px-0 pr-md-2 pb-2 pb-md-0">
              <select-period v-model="serverSearchInput.period" @change="doUiAction('getPageData')"/>
            </v-col>
            <v-btn class="w-sm-full" color="success" small @click="doUiAction('getPageData')">
              查询
            </v-btn>
          </v-row>
        </v-col>
      </v-row>
    </div>
    <!-- <<<<<<<<<<<<< 头部内容 -->

    <div class="jh-page-body-container px-8">
      <!-- 页面内容 >>>>>>>>>>>>> -->
      <v-card class="rounded-lg">
          <v-expansion-panels v-model='openPanels' multiple focusable class="pa-4">
            <v-expansion-panel v-for="(itemData, index) in ledgerList" :key="index" class="mt-3">
              <v-expansion-panel-header> {{itemData.length && itemData[0].name}} ({{itemData[0].isIncomeBalance ? '平' : '不平'}})
              </v-expansion-panel-header>
              <v-expansion-panel-content>
                <v-data-table
                  :headers="headers"
                  :items="itemData"
                  hide-default-footer
                  mobile-breakpoint="0"
                  checkbox-color="success"
                  :class="{'zebraLine': isTableZebraLineShown }"
                  fixed-header
                  class=" elevation-0 mt-0 mb-xs-4">
                  <!-- 没有数据 -->
                  <template v-slot:loading>
                    <div class="jh-no-data">数据加载中</div>
                  </template>
                  <template v-slot:no-data>
                    <div class="jh-no-data">暂无数据</div>
                  </template>
                  <template v-slot:no-results>
                    <div class="jh-no-data">暂无数据</div>
                  </template>
                </v-data-table>
              </v-expansion-panel-content>
            </v-expansion-panel>
          </v-expansion-panels>
          <p class="text-center font-weight-bold grey--text pb-4" v-if="!isTableLoading && !ledgerList.length">没有数据</p>
          <v-row v-if="isTableLoading" class="fill-height ma-0 py-10" align="center" justify="center">
            <v-progress-circular indeterminate color="primary"></v-progress-circular>
          </v-row>
        <!-- 表格 -->
      </v-card>
      <!-- <<<<<<<<<<<<< 页面内容 -->
    </div>


    <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
    <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

  </v-main>
</v-app>

<jh-toast />
<jh-mask />
<jh-confirm-dialog />
</div>
</script>

<div id="app">
</div>

{% endblock %}

{% block vueScript %}
{% include 'component/jianghuJs/select-appaId.html' %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'component/select-period.html' %}
{% include 'component/voucher/voucherFile.html' %}

<script lang="javascript" src="/<$ ctx.app.config.appId $>/public/js/xlsx.full.min.js"></script>
<script type="module">
new Vue({
  el: '#app',
  template: '#app-template',
  vuetify: new Vuetify(),
  data: () => ({
    username: localStorage.getItem(`${window.appInfo.appId}_username`),
    // 面包屑
    breadcrumbs: [
      {
        text: '首页',
        disabled: true,
      },
      {
        text: '核对总账',
        disabled: true,
      }
    ],
    isHelpPageDrawerLoaded: false,
    isMobile: window.innerWidth < 500,
    // 表格相关数据
    isTableZebraLineShown: true,
    // 下拉选项
    constantObj: {
      fundAccountList: [],
    },
    fundAccountList: [],
    searchInput: null,
    headers: [
      {text: "项目", value: "projectType", width: 120}, 
      {text: "名称", value: "name", width: 120}, 
      {text: "期初余额", value: "initAmount", width: 120}, 
      {text: "借方(收入)", value: "debitAmount", width: 120}, 
      {text: "贷方(支出)", value: "creditAmount", width: 120},
      {text: "余额", value: "remainAmount", width: 120},
    ],

    serverSearchInputWhereOptions: [],
    serverSearchInput: {
      period: [],
    },

    fundAccountEntryData: [],
    periodVoucherData: [],

    ledgerList: [],
    openPanels: [],

    isTableLoading: true,
  }),
  computed: {
  },
  watch: {
    isHelpPageDrawerShown(val) {
      if (val && !this.isHelpPageDrawerLoaded) {
        this.isHelpPageDrawerLoaded = true;
      }
    },
  },
  async created() {
  },
  async mounted() {
  },
  methods: {
    async doUiAction(uiActionId, uiActionData) {
      switch (uiActionId) {
        case 'getPageData':
          this.ledgerList = [];

          await this.getFundAccountData();
          await this.getVoucherList();
          await this.getFundAccountEntryList();
          await this.getLedgerData();
          this.isTableLoading = false;

          break;
        case 'getVoucherList':
          await this.getVoucherList();
          break;
        case 'getFundAccountList':
          await this.getFundAccountData();
          break;
        default:
          console.error("[doUiAction] uiActionId not find", {uiActionId});
          break;
      }
    },

    // ---------- 获取资金账号数据 uiAction >>>>>>>>>> --------
    async getFundAccountData() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'fundAccountManagement',
            actionId: 'selectItemList',
          }
        }
      });
      this.fundAccountList = result.data.appData.resultData.rows;
      if (this.fundAccountList.length > 0) {
        this.constantObj.fundAccountList = _.map(this.fundAccountList, item => {
          const { accountId, accountName } = item;
          return {
            text: `${accountId} ${accountName}`, 
            value: accountId
          };
        })
      }
    },
    // ---------- <<<<<<<<<<< 获取资金账号数据 uiAction  --------

    /**
     * 获取表格数据
     */
    async getFundAccountEntryList() {
      this.fundAccountEntryData = [];
      this.ledgerList = [];
      
      const rows = (await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'fundAccountEntryManagement',
            actionId: 'selectItemList',
            actionData: {},
            whereOptions: [
              ['accountEntryAt', '>=', dayjs(this.serverSearchInput.period.periodId).startOf("month").format('YYYY-MM-DD')], 
              ['accountEntryAt', '<=', dayjs(this.serverSearchInput.period.periodId).endOf("month").format('YYYY-MM-DD')]
            ],
            orderBy: [{column: 'accountEntryAt', order: 'asc'}]
          }
        }
      })).data.appData.resultData.rows;
      this.fundAccountEntryData = rows;
    },

    async getLedgerData() {
      let fundAccountList = _.cloneDeep(this.fundAccountList);
      if (this.serverSearchInput.accountId) {
        fundAccountList = fundAccountList.filter(x => x.accountId === this.serverSearchInput.accountId);
      }

      for (const fundAccount of fundAccountList) {
        const { accountId, accountName, subjectId, subjectName, initAmount } = fundAccount;

        const currentSubjectVoucherList = this.periodVoucherData.filter(x => x.subjectId === subjectId);
        const subjectVoucherStat = {
          projectType: "会计科目",
          name: subjectName,
          initAmount,
          debitAmount: _.reduce(currentSubjectVoucherList, (sum, item) => sum + item.debit, 0),
          creditAmount: _.reduce(currentSubjectVoucherList, (sum, item) => sum + item.credit, 0),
        };
        subjectVoucherStat.remainAmount = (subjectVoucherStat.debitAmount - subjectVoucherStat.creditAmount).toFixed(2);

        const fundAccountStat = {
          projectType: "资金账户",
          name: accountName,
          initAmount,
          debitAmount: 0,
          creditAmount: 0,
          remainAmount: 0,
        };

        const currentAccountEntryList = this.fundAccountEntryData.filter(x => x.accountId === accountId);
        for (const accountEntry of currentAccountEntryList) {
          if (accountEntry.amount > 0) {
            fundAccountStat.debitAmount = fundAccountStat.debitAmount + accountEntry.amount;
            fundAccountStat.debitCount = fundAccountStat.debitCount + 1;
          }
          if (accountEntry.amount < 0) {
            fundAccountStat.creditAmount = fundAccountStat.creditAmount + Math.abs(accountEntry.amount);
            fundAccountStat.creditCount = fundAccountStat.creditCount + 1;
          }
        }
        fundAccountStat.remainAmount = (fundAccountStat.debitAmount - fundAccountStat.creditAmount).toFixed(2);

        const diffStat = {
          projectType: "差异",
          debitAmount: subjectVoucherStat.debitAmount - fundAccountStat.debitAmount,
          creditAmount: subjectVoucherStat.creditAmount - fundAccountStat.creditAmount,
          remainAmount: subjectVoucherStat.remainAmount - fundAccountStat.remainAmount,
        };
        subjectVoucherStat.isIncomeBalance = (diffStat.debitAmount === diffStat.creditAmount);

        this.ledgerList.push([subjectVoucherStat, fundAccountStat, diffStat])
      }

      this.openPanels = Array.from({length: this.ledgerList.length}, (_, i) => i);
    },
    // ---------- 新增数据 uiAction >>>>>>>>>> --------

    // ---------- 获取凭证数据 uiAction >>>>>>>>>> --------
    async getVoucherList() {
      this.periodVoucherData = [];

      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'voucher-voucherManagement',
            actionId: 'selectItemList',
            whereOptions: [['voucherId', 'LIKE', `${this.serverSearchInput.period.periodId}%`]]
          }
        }
      });

      this.periodVoucherData = result.data.appData.resultData.rows;
    },
    // ---------- <<<<<<<<<<< 获取凭证数据 uiAction  --------

    // ---------- 获取资金账号数据 uiAction >>>>>>>>>> --------
    async getFundAccountData() {
      const result = await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'fundAccountManagement',
            actionId: 'selectItemList',
          }
        }
      });
      this.fundAccountList = result.data.appData.resultData.rows;
      if (this.fundAccountList.length > 0) {
        this.constantObj.fundAccountList = _.map(this.fundAccountList, item => {
          const { accountId, accountName } = item;
          return {
            text: `${accountId} ${accountName}`, 
            value: accountId
          };
        })
      }
    },
    // ---------- <<<<<<<<<<< 获取资金账号数据 uiAction  --------

    async prepareCreateFormData() {
      this.createItem = {};
    },

    async openCreateDrawer() {
      this.isCreateDrawerShown = true;
    },

    async prepareCreateValidate() {
      if (await this.$refs.createForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },

    async confirmCreateItemDialog() {
      if (await window.confirmDialog({title: "新增", content: "确定新增吗？"}) === false) {
        throw new Error("[confirmCreateFormDialog] 否");
      }
    },

    prepareDoCreateItem() {
      const {id, ...data} = this.createItem;
      this.createActionData = data;
    },

    async doCreateItem() {
      
      await window.vtoast.loading("新增数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'fundAccountEntryManagement',
            actionId: 'insertItem',
            actionData: this.createActionData
          }
        }
      })
      
      await window.vtoast.success("新增数据成功");
    },
    async closeCreateDrawer() {
      this.isCreateDrawerShown = false;
      this.createItem = {};
      this.createActionData = null;
    },
    // ---------- <<<<<<<<<<< 新增数据 uiAction ---------

    // ---------- 修改数据 uiAction >>>>>>>>>>>> --------
    async prepareUpdateFormData(funObj) {
      this.updateItem = _.cloneDeep(funObj);
    },

    async openUpdateDrawer() {
      this.isUpdateDrawerShown = true;
    },

    async prepareUpdateValidate() {
      if (await this.$refs.updateForm.validate()) {
        return true;
      }
      throw new Error("请完善表单信息")
    },

    async confirmUpdateItemDialog() {
      if (await window.confirmDialog({title: "修改", content: "确定修改吗？"}) === false) {
        throw new Error("[confirmUpdateItemDialog] 否");
      }
    },

    async prepareDoUpdateItem() {
      const {id, ...data} = this.updateItem;
      this.updateItemId = id;
      this.updateActionData = data;
      delete this.updateActionData.remainAmount;
    },

    async doUpdateItem() {
      
      await window.vtoast.loading("修改数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'fundAccountEntryManagement',
            actionId: 'updateItem',
            actionData: this.updateActionData,
            where: {id: this.updateItemId}
          }
        }
      })

      
      await window.vtoast.success("修改数据成功");
    },

    async closeUpdateDrawer() {
      this.isUpdateDrawerShown = false;
      this.updateItem = {};
      this.updateActionData = null;
      this.updateItemId = null;
    },
    // ---------- <<<<<<<<<<< 修改数据 uiAction ---------
    // ---------- 删除数据 uiAction >>>>>>>>>>>> --------
    async prepareDeleteFormData(funObj) {
      this.deleteItem = _.cloneDeep(funObj);
    },
    async confirmDeleteItemDialog() {
      if (await window.confirmDialog({title: "删除", content: "确定删除吗？"}) === false) {
        throw new Error("[confirmDeleteItemDialog] 否");
      }
    },
    async prepareDoDeleteItem() {
      const {id} = this.deleteItem;
      this.deleteItemId = id;
    },
    async doDeleteItem() {
      await window.vtoast.loading("删除数据");
      await window.jianghuAxios({
        data: {
          appData: {
            pageId: 'fundAccountEntryManagement',
            actionId: 'deleteItem',
            actionData: {},
            where: {id: this.deleteItemId}
          }
        }
      });
      await window.vtoast.success("删除数据成功");
    },
    async clearDeleteItem() {
      this.deleteItem = {};
      this.deleteItemId = null;
    },
    // ---------- <<<<<<<<<<< 删除数据 uiAction ---------

    async process_RS(stream) {
      const buffers = [];
      const reader = stream.getReader();
      for (; ;) {
        const res = await reader.read();
        if (res.value) buffers.push(res.value);
        if (res.done) break;
      }

      /* concat */
      const out = new Uint8Array(buffers.reduce((acc, v) => acc + v.length, 0));

      let off = 0;
      for (const u8 of buffers) {
        out.set(u8, off);
        off += u8.length;
      }
      return out;
    },
    jumpToUrl() {
        window.open('https://cn.jianghujs.org/doc/page/article/11603', '_blank');
      }
  }
})
</script>

<style scoped>

.v-input--selection-controls {
  margin-top: 0px !important;
}
.v-expansion-panel-header {
  padding-left: 18px;
}
.v-expansion-panel-content__wrap {
  padding: 0;
}

</style>{% endblock %}
