{% extends 'template/jhTemplateV4.html'%}

{% block vueTemplate %}

<script type="text/html" id="app-template">
  <div>
    <v-app mobile-breakpoint="sm">
      <jh-menu />
      <v-main class="mt-15">
        <!-- 头部内容 >>>>>>>>>>>>> -->
        <div class="jh-page-second-bar px-8">
          <v-row class="align-center" no-gutters>
            <v-col class="d-flex align-center" cols="12" xs="12" md="6">
              <div>
                <div class="py-4 text-body-1 font-weight-bold d-flex align-center">科目期初设置
                  <!-- 帮助页按钮 -->
                  <span role="button" class="success--text font-weight-regular jh-font-size-13 mx-2" @click="jumpToUrl">
                  <v-icon size="13" class="success--text">mdi-help-circle-outline</v-icon>帮助
                </span>
                  <select-appaId/>
                </div>
              </div>
            </v-col>
            <!-- pc端的搜索条件表单 >>>>>>>> -->
            <v-col cols="12" xs="12" md="6" class="pt-0 pt-md-3 mb-3 mb-md-0">
              <v-row class="ma-0" class="justify-md-end" no-gutters>
                <v-col cols="7" class="text-right">
                  <v-btn-toggle mandatory dense class="mr-0 mr-md-2" color="success"> 
                    <v-btn small v-for="item, index in constantObj.subjectCategory"  @click="selectSubjectCategory = item.value; doUiAction('refreshTableData');" :key="index"> {{item.text}} </v-btn> 
                  </v-btn-toggle>
                </v-col>

                <v-col cols="3" class="d-none d-md-flex">
                  <v-text-field
                    prefix="初始期间: " 
                    v-model="periodStart.periodId" 
                    class="jh-v-input bg-white" dense filled single-line readonly>
                  </v-text-field>
                </v-col>
                <v-btn class="elevation-0 d-sm-block w-sm-full ml-2" color="primary" small @click="doUiAction('refreshTableData')">
                  <v-icon size="14">mdi-magnify</v-icon>查询
                </v-btn>
              </v-row>
            </v-col>
            
          </v-row>
        </div>
        <!-- <<<<<<<<<<<<< 头部内容 -->

        <div class="jh-page-body-container px-8">
          <!-- 页面主要内容 -->
          <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">
            <v-card class="rounded-lg">
              <v-row class="ma-0 pa-4 align-center">
                <v-col cols="12" xs="12" sm="6" md="6" xl="6" class="pa-0">
                  <v-btn class="elevation-0 mr-2" 
                    color="warning" 
                    
                    @click="doUiAction('checkSubjectBalance', { } )" small>
                    <v-icon size="16">mdi-calculator</v-icon>
                    试算平衡
                  </v-btn>
             
                  <v-btn class="elevation-0 mr-2 px-1" 
                    :disabled="periodStart.isCheckout === '已结账'"
                    color="success"
                    append-icon="mdi-account-circle"
                    @click="doUiAction('saveSubjectBalanceStart', {} )" small>
                    <v-icon size="16">mdi-content-save-check-outline</v-icon>
                    保存
                    <v-icon v-if="periodStart.isCheckout === '已结账'" class="mr-1" right color="warning" @click="window.vtoast.show({ message: '初始会计期间已结账, 禁止保存初始余额!', icon: 'mdi-help-circle' })">mdi-help-circle</v-icon>
                  </v-btn>
                 
                  <v-btn class="elevation-0 mr-2 green" color="primary" small outlined @click="doUiAction('exportExcel')"><v-icon size="14">mdi-export-variant</v-icon>导出excel</v-btn>

                  
                </v-col>
                <v-spacer></v-spacer>
                  <v-switch v-model="showSignificantValueSubject" label="只显示有数值的科目"></v-switch>
                  <v-text-field color="success" v-model="searchInput" prefix="搜索：" class="jh-v-input ml-2" dense filled single-line></v-text-field>
                </v-col>
              </v-row>
              <v-data-table 
                fixed-header
                :headers="headers"
                :items="tableData"
                :search="searchInput"
                item-key="subjectId"
                :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}"
                :items-per-page="-1"
                mobile-breakpoint="0"
                :loading="isTableLoading"
                checkbox-color="success"
                :class="{'zebraLine': isTableZebraLineShown }"
                class="jh-fixed-table-height elevation-0 mt-0 mb-xs-4">
                <template v-slot:item.subjectTag="{ item }"></template>
                <!-- 处理显示列 -->
                <template v-slot:item.subjectName="{ item }">
                  <span :style="{'margin-left': (item.subjectLevel - 1) * 20 + 'px'}">{{item.subjectName}}

                    <v-tooltip color="success" right v-if="item.assistList.length > 0">
                      <template v-slot:activator="{ on, attrs }">
                       <a v-bind="attrs" v-on="on" @click="doUiAction('openSubjectAssistDialog', { item })"> <v-icon size="14">mdi-plus</v-icon></a>
                      </template>
                      <span>点击+<br>添加辅助明细</span>
                    </v-tooltip>

                    <a v-if="item.subjectId.includes('_')" @click="doUiAction('deleteSubjectAssist', { item })">
                      <!-- x号的icon -->
                      <v-icon size="14">mdi-close</v-icon>
                    </a>
                  </span>
                </template>    
                <template v-slot:item.subjectBalanceDirection="{ item }">
                  <v-chip dark x-small :color="item.subjectBalanceDirection | directionBgColor">{{item.subjectBalanceDirection}}</v-chip>
                </template>
                <template v-slot:item.startBalancePeriod="{ item }">
                  <v-text-field 
                    style="text-align: right;"
                    v-if="item.subjectBalanceDirection === '借' && selectSubjectCategory != '损益'"
                    :disabled="periodStart.isCheckout === '已结账' || item.subjectHasChildren === '有下级科目' || item.assistList.length > 0"
                    class="jh-v-input mr-0 custom-input" dense filled single-line 
                    v-model.number="item.startDebitPeriod" @blur="doUiAction('updateSubjectBalance', { item })" type="number">
                  </v-text-field>
                  <v-text-field 
                    style="text-align: right;"
                    v-if="item.subjectBalanceDirection === '贷' && selectSubjectCategory != '损益'"
                    :disabled="periodStart.isCheckout === '已结账' || item.subjectHasChildren === '有下级科目' || item.assistList.length > 0"
                    class="jh-v-input mr-0 custom-input" dense filled single-line 
                    v-model.number="item.startCreditPeriod" @blur="doUiAction('updateSubjectBalance', { item })" type="number">
                  </v-text-field>
                </template>
               
                <template v-slot:item.occurDebitYear="{ item }">
                  <v-text-field :disabled="periodStart.isCheckout === '已结账' || item.subjectHasChildren === '有下级科目' || item.assistList.length > 0" class="jh-v-input mr-0 custom-input" dense filled single-line 
                    v-model.number="item.occurDebitYear" type="number"
                    @change="(val) => { if (item.subjectCategory==='损益') { item.occurCreditYear=val } }"  @blur="doUiAction('updateSubjectBalance', { item })" >
                  </v-text-field>
                </template>
                <template v-slot:item.occurCreditYear="{ item }">
                  <v-text-field :disabled="periodStart.isCheckout === '已结账' || item.subjectHasChildren === '有下级科目' || item.assistList.length > 0" class="jh-v-input mr-0 custom-input" dense filled single-line 
                    v-model.number="item.occurCreditYear" type="number"
                    @change="(val) => { if (item.subjectCategory==='损益') { item.occurDebitYear=val } }"  @blur="doUiAction('updateSubjectBalance', { item })" >
                  </v-text-field>
                </template>
                <template v-slot:item.startBalanceYear="{ item }">
                  <span v-if="item.subjectBalanceDirection === '借'">{{ $options.filters.formatMoney(item.startDebitPeriod + item.occurCreditYear - item.occurDebitYear) }}</span>
                  <span v-if="item.subjectBalanceDirection === '贷'">{{ $options.filters.formatMoney(item.startCreditPeriod + item.occurDebitYear - item.occurCreditYear) }}</span>
                </template>
                <!-- 表格底部右侧功能按钮 -->
                <template v-slot:footer.prepend>
                
                  <v-menu top offset-y :close-on-content-click="false" v-model="isTableZebraLineMenuShown" :position-x="tableZebraLineMenuPosition.x" :position-y="tableZebraLineMenuPosition.y">
                    <v-list>
                      <v-list-item>
                        <v-switch v-model="isTableZebraLineShown" hide-details class="ma-0" label="显示斑马纹" dense flat></v-switch>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
                <!-- 没有数据 -->
                <template v-slot:loading>
                  <div class="jh-no-data">数据加载中</div>
                </template>
                <template v-slot:no-data>
                  <div class="jh-no-data">暂无数据</div>
                </template>
                <template v-slot:no-results>
                  <div class="jh-no-data">暂无数据</div>
                </template>
                <!-- 表格分页 -->
                <template v-slot:footer.page-text="pagination">
                  <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                  <span class="ml-1">共{{pagination.itemsLength}}条</span>
                </template>
              </v-data-table>
            </v-card>
          </v-container>

          <!-- 试算平衡 -->
          <v-row justify="space-around">
            <v-col cols="auto">
              <v-dialog v-model="checkSubjectBalanceDialog" transition="dialog-bottom-transition" max-width="600">
                <template v-slot:default="dialog">
                  <v-card>
                    
                    <v-row no-gutters>
                      <span class="text-h7 font-weight-bold pa-4">试算平衡</span>
                    </v-row>
                    <v-divider class="jh-divider"></v-divider>
                    <v-card-text>
                      <v-simple-table>
                        <template v-slot:default>
                          <thead>
                            <tr>
                              <th class="text-left">项目</th>
                              <th class="text-left">借方金额</th>
                              <th class="text-left">贷方金额</th>
                              <th class="text-left">平衡</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td>初始余额</td>
                              <td>{{ debitSum | formatMoney }}</td>
                              <td>{{ creditSum | formatMoney }}</td>
                              <td>
                                <span v-if="debitSum - creditSum !== 0" class="error--text">
                                  {{ $options.filters.formatMoney(debitSum - creditSum) }} 
                                  <v-btn
                                      @click="window.vtoast.show({ message: '借贷不平衡!', icon: 'mdi-help-circle' })"
                                      text icon small>
                                    <v-icon small>mdi-help-circle</v-icon>
                                  </v-btn>
                                </span>
                                <span v-if="debitSum - creditSum === 0" class="green--text">平</span>
                              </td>
                            </tr>
                            <tr>
                              <td></td>
                              <td></td>
                              <td></td>
                              <td></td>
                            </tr>
                            <tr>
                              <td>项目</td>
                              <td>借方累计</td>
                              <td>贷方累计</td>
                              <td>平衡</td>
                            </tr>
                            <tr>
                              <td>累计</td>
                              <td>{{ occurDebitSum | formatMoney }}</td>
                              <td>{{ occurCreditSum | formatMoney}}</td>
                              <td>
                                <span v-if="occurDebitSum - occurCreditSum !== 0" class="error--text">
                                  {{ $options.filters.formatMoney(occurDebitSum - occurCreditSum) }} 
                                  <v-btn
                                      @click="window.vtoast.show({ message: '累计不平衡!', icon: 'mdi-help-circle' })"
                                      text icon small>
                                    <v-icon small>mdi-help-circle</v-icon>
                                  </v-btn>
                                </span>
                                <span v-if="occurDebitSum - occurCreditSum === 0" class="green--text">平</span>
                              </td>
                            </tr>
                          </tbody>
                        </template>
                      </v-simple-table>
                    </v-card-text>
                    <v-card-actions class="justify-end">
                      <v-btn text @click="checkSubjectBalanceDialog = false">关闭</v-btn>
                    </v-card-actions>
                  </v-card>
                </template>
              </v-dialog>
            </v-col>
          </v-row>  
        </div>
        <!-- 帮助页抽屉 >>>>>>>>>>>>> -->
        <!-- <<<<<<<<<<<<< 帮助页抽屉 -->

        <subject-assist-dialog ref="subjectAssistDialog" @save="doUiAction('saveAssistChildrenList', $event)" />
      </v-main>
          
    </v-app>
    <jh-toast />
    <jh-mask />
    <jh-confirm-dialog />
  </div>
</script>
<div id="app">
</div>

{% endblock %}

{% block vueScript %}
{% include 'component/jianghuJs/select-appaId.html' %}
{% include 'component/subject-assist-dialog.html' %}
{% include 'common/jianghuJs/fixedTableHeightV4.html' %}
{% include 'common/excelUtil.html' %}
{% include 'common/vueFilters.html' %}
{% include 'common/constantUtil.html' %}

<script type="module">

  new Vue({
    el: '#app',
    template: '#app-template',
    vuetify: new Vuetify(),
    data: () => ({

      // 表格相关数据
      isTableZebraLineMenuShown: false,
      tableZebraLineMenuPosition: { x: null, y: null },
      isTableZebraLineShown: true,

      // 下拉选项
      constantObj: {
      },
      isFormValid: true,
      validationRules: {
        requireRules: [
          v => !!v || '必填',
        ],
      },
      constantObj: {
        subjectCategory: [
          { text: '全部', value: '' },
          { text: '资产', value: '资产' },
          { text: '负债', value: '负债' },
          { text: '权益', value: '权益' },
          { text: '成本', value: '成本' },
          { text: '损益', value: '损益' },
        ],
      },

      isOpenEdit: false,
      periodStart: {
        periodId: null,
        isCheckout: null, // 已结账 未结账
      },
      periodList: [],

      selectSubjectCategory: '',  // ‘’ ===》全部
      searchInput: null,
      isTableLoading: true,
      tableDataFromBackend: [],
      headers: [
        { text: "科目编码", value: "subjectId", class: window.innerWidth > 500 && 'fixed', cellClass: window.innerWidth > 500 && 'fixed' },
        { text: "科目名称", value: "subjectName" },
        { text: "科目分类", value: "subjectCategory", width: 100 },
        { text: "是否有下级科目", value: "subjectHasChildren", width: 80 },
        { text: "科目余额方向", value: "subjectBalanceDirection", width: 80 },
        { text: "初始余额", value: "startBalancePeriod", align: 'end', width: 120 },  // startDebitPeriod or startCreditPeriod
        { text: "借方累计", value: "occurDebitYear", align: 'end', width: 120 },
        { text: "贷方累计", value: "occurCreditYear", align: 'end', width: 120 },
        { text: "年初余额", value: "startBalanceYear", align: 'end', width: 120 },     // startDebitYear or startCreditYear
        { text: "现金流入", value: "cashFlowInItemName", align: 'end', width: 270 },
        { text: "现金流出", value: "cashFlowOutItemName", align: 'end', width: 270 },
        {text: "", value: "subjectTag", width: 0, hide: true}, 
      ],

      checkSubjectBalanceDialog: false,
      debitSum: 0,
      creditSum: 0,
      occurDebitSum: 0,
      occurCreditSum: 0,

      showSignificantValueSubject: false,
    }),
    computed: {
      tableData() {
        let tableDataList = this.tableDataFromBackend
        if (this.selectSubjectCategory) {
          tableDataList = tableDataList.filter(row => row.subjectCategory === this.selectSubjectCategory);
        }
        if (this.showSignificantValueSubject) {
          tableDataList = tableDataList.filter(row => row.assistChildrenList.length > 0 || row.startDebitPeriod || row.startCreditPeriod || row.startDebitYear || row.startCreditYear || row.occurDebitYear || row.occurCreditYear || row.occurAmountYear);
        }
        tableDataList.forEach(row => {
          row.startDebitPeriod = row.startDebitPeriod || null;
          row.startCreditPeriod = row.startCreditPeriod || null;
          row.startDebitYear = row.startDebitYear || null;
          row.startCreditYear = row.startCreditYear  || null;
          row.occurDebitYear = row.occurDebitYear || null;
          row.occurCreditYear  = row.occurCreditYear  || null;
          row.occurAmountYear = row.occurAmountYear || null;
        })
        return tableDataList
      }
    },
    watch: {

    },
    async created() {
      await this.doUiAction('selectPeriodStart');
      await this.doUiAction('refreshTableData');
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'selectPeriodStart':
            await this.selectPeriodStart();
            break;
          case 'refreshTableData':
            await this.refreshTableData();
            await this.updateSubjectBalance(uiActionData);
            break;
          case 'saveSubjectBalanceStart':
            await this.saveSubjectBalanceStart();
            await this.refreshTableData();
            break;
          case 'checkSubjectBalance':
            await this.checkSubjectBalanceByLocalData(uiActionData);
            break;
          case 'exportExcel':
            await this.exportExcel();
            break;
          case 'openSubjectAssistDialog':
            await this.openSubjectAssistDialog(uiActionData);
            break;
          case 'saveAssistChildrenList':
            await this.saveAssistChildrenList(uiActionData);
            await this.updateSubjectBalance(uiActionData);
            await this.saveSubjectBalanceStart();
            await this.refreshTableData();
            break;
          case 'deleteSubjectAssist':
            await this.deleteSubjectAssist(uiActionData);
            await this.updateSubjectBalance(uiActionData);
            await this.saveSubjectBalanceStart();
            await this.refreshTableData();
            break;
          case 'updateSubjectBalance':
            await this.updateSubjectBalance(uiActionData);
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      // =================================uiAction 公共方法 start ======================================
      async selectPeriodStart() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'setting-subjectBalanceStart',
              actionId: 'selectPeriodList',
              actionData: {},
              where: { isPeriodStart: '是' },
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        if (rows.length === 0) {
          this.isTableLoading = false;
          window.vtoast.fail({ message: "请创建第一个会计期间!" });
          throw new Error("[selectPeriodStart] false; 请创建第一个会计期间");
        }
        if (rows.length === 1) {
          this.periodStart = rows[0];
        }
        if (rows.length > 1) {
          this.isTableLoading = false;
          window.vtoast.fail({ message: "初始会计期间不能有多个!" });
          throw new Error("[selectPeriodStart] false; 初始会计期间不能有多个");
        }
      },
      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const where = {
          periodId: this.periodStart.periodId,
          isPeriodStart: '是',
        };
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'setting-subjectBalanceStart',
              actionId: 'selectSubjectBalanceList',
              actionData: {},
              where: {},
              orderBy: [{ column: 'subjectId', order: 'asc' }]
            }
          }
        });
        const { rows } = result.data.appData.resultData;
        rows.forEach(row => { row.assistChildrenList = JSON.parse(row.assistChildrenList || '[]'); })
        const rowsWithAssist = [];
        rows.forEach(row => {
          // 排除现金流项
          const assistList = (row.assistList || '').split(",").filter(v => v);;
          rowsWithAssist.push({ ...row, assistList });
          row.assistChildrenList.forEach(assist => {
            rowsWithAssist.push({
              startDebitPeriod: 0, startCreditPeriod: 0,
              occurDebitYear: 0, occurCreditYear: 0,
              isAssistChildrenSubject: true,
              subjectCategory: row.subjectCategory,
              subjectBalanceDirection: row.subjectBalanceDirection,
              assistList: [],
              ...assist,
            })
          })
        })
        this.tableDataFromBackend = rowsWithAssist;
        this.isTableLoading = false;
      },
      // =================================uiAction 公共方法 end ======================================
      async saveSubjectBalanceStart() {
        const tableDataFromBackend = _.cloneDeep(this.tableDataFromBackend);
        tableDataFromBackend.forEach(row => {
          row.assistChildrenList = tableDataFromBackend.filter(item => item.subjectId.startsWith(row.subjectId + '_'));
        })
        const subjectBalanceStartList = tableDataFromBackend
          .filter(row => !row.isAssistChildrenSubject)
          .filter(row => row.assistChildrenList.length > 0 || row.startDebitPeriod || row.startCreditPeriod || row.startDebitYear || row.startCreditYear || row.occurDebitYear || row.occurCreditYear || row.occurAmountYear);
        await window.vtoast.loading("保存");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'setting-subjectBalanceStart',
              actionId: 'saveSubjectBalanceStart',
              actionData: {
                subjectBalanceStartList,
              },
            }
          }
        });
        await window.vtoast.success("保存成功");
      },
      async checkSubjectBalanceByLocalData() {
        const subjectList = this.tableDataFromBackend
          .filter(item => !item.isAssistChildrenSubject)
          .filter(item => item.subjectHasChildren === '无下级科目')
        this.debitSum = _.sumBy(subjectList, 'startDebitPeriod').toFixed(2);
        this.creditSum = _.sumBy(subjectList, 'startCreditPeriod').toFixed(2);
        this.occurDebitSum = _.sumBy(subjectList, 'occurDebitYear').toFixed(2);
        this.occurCreditSum = _.sumBy(subjectList, 'occurCreditYear').toFixed(2);
        if (this.debitSum !== this.creditSum) {
          await window.vtoast.fail("您录入的初始余额不平衡，请仔细核对!");
        }
        if (this.occurDebitSum !== this.occurCreditSum) {
          await window.vtoast.fail("您录入的 借方累计/贷方累计 不平衡，请仔细核对!");
        }
        this.checkSubjectBalanceDialog = true;
      },

      async exportExcel() {
        // 初始余额
        const tableData = this.tableData.map(item => ({
          ...item,
          startBalancePeriod: item.startDebitPeriod || item.startCreditPeriod,
          startBalanceYear: item.startDebitYear || item.startCreditYear,
        }))
        const params = {
          header: this.headers.filter(header => header.text != '操作').map(header => header.text),
          key: this.headers.filter(header => header.text != '操作').map(header => header.value),
          data: tableData,
          filename: dayjs().format('YYYYMMDDHHmmss') + '_' + '科目初始余额'
        };
        excelUtil.exportData(params);
      },

      // ---------- 辅助信息管理 >>>>>>>>>>>>> ----------
      async openSubjectAssistDialog(uiActionData) {
        this.$refs.subjectAssistDialog.doUiAction('open', uiActionData);
      },
      async saveAssistChildrenList({ item }) {
        const { subjectId: parentSubjectId, assistChildrenList } = item;
        const parentIndex = this.tableDataFromBackend.findIndex(row => row.subjectId == parentSubjectId);
        const subjectChildrenList = this.tableDataFromBackend.filter(row => row.subjectId.startsWith(parentSubjectId + '_'));
        let subjectChildrenListNew = _.unionBy(subjectChildrenList, assistChildrenList, 'subjectId');
        subjectChildrenListNew = _.orderBy(subjectChildrenListNew, ['subjectName'], ['asc']);
        this.tableDataFromBackend = this.tableDataFromBackend.filter(row => !row.subjectId.startsWith(parentSubjectId + '_'));
        this.tableDataFromBackend.splice(parentIndex + 1, 0, ...subjectChildrenListNew);
      },
      // ----------更新父科目数值 >>>>>>>>>>>>> ----------
      async updateSubjectBalance(uiActionData) {
        const { item } = uiActionData || {};
        if (item && item.isAssistChildrenSubject) {
          this.updateSubjectBalanceData(item);
        }
        this.tableDataFromBackend.forEach(row => {
          if (row.subjectHasChildren != '有下级科目') {
            this.updateChildSubjectData(row);
          }
          if (row.subjectHasChildren == '有下级科目') {
            this.updateSubjectBalanceChildrenData(row);
          }
        });
      },

      updateSubjectBalanceData(item) {
        const parentSubjectId = item.subjectId.split('_')[0];
        const parentSubject = this.tableDataFromBackend.find(row => row.subjectId === parentSubjectId);
        const childrenList = this.tableDataFromBackend.filter(row => row.subjectId.includes(parentSubjectId + '_'));

        parentSubject.assistChildrenList = JSON.stringify(childrenList);
        parentSubject.startDebitPeriod = currency(_.sumBy(childrenList, 'startDebitPeriod', row => row.subjectBalanceDirection == parentSubject.subjectBalanceDirection ? row.startDebitPeriod : -row.startCreditPeriod)).value;
        parentSubject.startCreditPeriod = currency(_.sumBy(childrenList, 'startCreditPeriod', row => row.subjectBalanceDirection == parentSubject.subjectBalanceDirection ? row.startCreditPeriod : -row.startDebitPeriod)).value;

        parentSubject.occurDebitYear = currency(_.sumBy(childrenList, 'occurDebitYear')).value;
        parentSubject.occurCreditYear = currency(_.sumBy(childrenList, 'occurCreditYear')).value;
        if (parentSubject.subjectCategory == '损益') {
          parentSubject.occurAmountYear = parentSubject.subjectBalanceDirection === '借' ? parentSubject.occurDebitYear : parentSubject.occurCreditYear;
        }
      },

      updateChildSubjectData(row) {
        if (row.subjectBalanceDirection === '借') {
          row.startDebitYear = row.startDebitPeriod + row.occurCreditYear - row.occurDebitYear;
          row.occurAmountYear = row.occurDebitYear - row.occurCreditYear;
          row.startCreditPeriod = 0;
          row.startCreditYear = 0;
        } else if (row.subjectBalanceDirection === '贷') {
          row.startCreditYear = row.startCreditPeriod + row.occurDebitYear - row.occurCreditYear;
          row.occurAmountYear = row.occurCreditYear - row.occurDebitYear;
          row.startDebitPeriod = 0;
          row.startDebitYear = 0;
        }
        if (row.subjectCategory == '损益') {
          row.occurAmountYear = row.subjectBalanceDirection === '借' ? row.occurDebitYear : row.occurCreditYear;
        }
      },

      updateSubjectBalanceChildrenData(parentSubject) {
        const childrenList = this.tableDataFromBackend.filter(row => row.subjectHasChildren === '无下级科目' && row.subjectId.includes(parentSubject.subjectId));
        parentSubject.occurDebitYear = currency(_.sumBy(childrenList, 'occurDebitYear')).value;
        parentSubject.occurCreditYear = currency(_.sumBy(childrenList, 'occurCreditYear')).value;
        parentSubject.occurAmountYear = parentSubject.subjectBalanceDirection == '借' ? parentSubject.occurDebitYear - parentSubject.occurCreditYear : parentSubject.occurCreditYear - parentSubject.occurDebitYear;
        if (parentSubject.subjectCategory == '损益') {
          parentSubject.occurAmountYear = parentSubject.subjectBalanceDirection == '借' ? parentSubject.occurDebitYear : parentSubject.occurCreditYear;
        }
        if (parentSubject.subjectBalanceDirection == '借') {
          parentSubject.startDebitPeriod = currency(_.sumBy(childrenList, row => row.subjectBalanceDirection == parentSubject.subjectBalanceDirection ? row.startDebitPeriod : -row.startCreditPeriod)).value;
          parentSubject.startDebitYear = parentSubject.startDebitPeriod + parentSubject.occurCreditYear - parentSubject.occurDebitYear;
          parentSubject.startCreditPeriod = 0;
          parentSubject.startCreditYear = 0;
        } else if (parentSubject.subjectBalanceDirection == '贷') {
          parentSubject.startCreditPeriod = currency(_.sumBy(childrenList, row => row.subjectBalanceDirection == parentSubject.subjectBalanceDirection ? row.startCreditPeriod : -row.startDebitPeriod)).value;
          parentSubject.startCreditYear = parentSubject.startCreditPeriod + parentSubject.occurDebitYear - parentSubject.occurCreditYear;
          parentSubject.startDebitPeriod = 0;
          parentSubject.startDebitYear = 0;
        }
      },


      // ---------- <<<<<<<<<<<<<更新父科目数值 ----------

      async deleteSubjectAssist({ item }) {
        if (item.isAssistChildrenSubject) {
          const index = this.tableDataFromBackend.findIndex(row => row.subjectId === item.subjectId);
          this.tableDataFromBackend.splice(index, 1);
        }
      },
      // ---------- <<<<<<<<<<<<< 辅助信息管理 ----------

      jumpToUrl() {
        window.open('https://cn.jianghujs.org/doc/page/article/11603', '_blank');
      }
    }   
  })
</script>

<style>
  .custom-input input {
    text-align: right;
  }
</style>
{% endblock %}