<template id="report-cashFlow-ex">
  <v-container class="px-4 py-0 pl-6 pr-6">
    <v-card elevation="0">

      <v-row class="ma-0 align-center flex-none pa-0" :class="{'pa-2': !isMobile, 'pa-2': isMobile}"
        style="justify-content: end">
        <v-col cols="12" xs="6" sm="4" md="3" xl="2" :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}">
          <select-period v-model="serverSearchInput.period" 
            @change="doUiAction('refreshTableData')"
            :clearable="false"/>
        </v-col>

        <v-col :class="{'pt-2': isMobile, 'pl-0': isMobile, 'pr-0': !isMobile}" style="max-width: 77px">
          <v-btn class="elevation-0" color="success" small dark @click="doUiAction('refreshTableData')">
            <v-icon size="14">mdi-magnify</v-icon>
查询          </v-btn>
        </v-col>
      </v-row>

      <!-- 页面主要内容 -->
      <v-container class="fullScreen d-flex flex-column pa-xs-0 pa-0">

        <v-row>
          <v-col cols="12">
            <v-card class="rounded-lg">
              <v-row class="ma-0 pa-xs-4 align-center flex-none pt-0 "
                :class="{'pa-4': !isMobile, 'pb-0': !isMobile, 'pa-2': isMobile}">
        
                <v-col cols="12" xs="8" sm="4" md="3" xl="2" class="pa-0">
                  <v-btn class="elevation-0 mr-2 " color="primary" small outlined @click="exportExcel"><v-icon size="14">mdi-export-variant</v-icon>导出excel</v-btn>
                </v-col>
        
                <v-spacer></v-spacer>
        
                <v-col cols="12" xs="6" sm="4" md="3" xl="2" class="pa-xs-0 pa-xs-2 col-sm-8-flex">
                  <v-text-field v-model="searchInput" prefix="搜索：" class="jh-v-input" dense filled single-line>
                  </v-text-field>
                </v-col>
              </v-row>
              <v-data-table 
                fixed-header 
                :headers="headers" 
                :items="tableData" 
                :search="searchInput"
                :footer-props="{ itemsPerPageOptions: [20, 50, -1], itemsPerPageText: '每页行数', itemsPerPageAllText: '所有'}" 
                :items-per-page="-1"
                mobile-breakpoint="0"
                sort-by="profitFormulaCount"
                :sort-desc="true"
                :loading="isTableLoading" checkbox-color="success"
                class="elevation-0 mt-0 mb-xs-4 flex-fill d-flex flex-column">
                <!-- 处理显示列 -->
                <template v-slot:item.itemName="{ headers, item }">
                  <span :title="`${item.itemName}  ${item.computeFormula||''}`" class="item-name" :style="{'margin-left': (item.level * 20) + 'px'}">{{item.itemName}}</span>
                </template>
                <template v-slot:item.item-occur-amount-period="{item}">{{item.itemOccurAmountPeriod | formatMoney}}</template>
                <template v-slot:item.item-occur-amount-year="{item}">{{item.itemOccurAmountYear | formatMoney}}</template>
                <template v-slot:item.formula-count="{ item }">
                  <span style="width:15px; display: inline-block;">{{ item.formulaCount || ''}}</span>
                  <v-icon v-if="item.editable === '是'" small @click="doUiAction('startEditFormula', {item})">
                    mdi-clipboard-edit-outline
                  </v-icon>
                </template>

                <!-- 表格底部右侧功能按钮 -->
                <template v-slot:footer.prepend>
                  
                  <v-menu top offset-y :close-on-content-click="false" v-model="isTableZebraLineMenuShown" :position-x="tableZebraLineMenuPosition.x" :position-y="tableZebraLineMenuPosition.y">
                    <v-list>
                      <v-list-item>
                        <v-switch v-model="isTableZebraLineShown" hide-details class="ma-0" label="显示斑马纹" dense flat></v-switch>
                      </v-list-item>
                    </v-list>
                  </v-menu>
                </template>
                <!-- 没有数据 -->
                <template v-slot:loading>
                  <div class="jh-no-data">数据加载中</div>
                </template>
                <template v-slot:no-data>
                  <div class="jh-no-data">暂无数据</div>
                </template>
                <template v-slot:no-results>
                  <div class="jh-no-data">暂无数据</div>
                </template>
                <!-- 表格分页 -->
                <template v-slot:footer.page-text="pagination">
                  <span>{{pagination.pageStart}}-{{pagination.pageStop}}</span>
                  <span class="ml-1">共{{pagination.itemsLength}}条</span>
                </template>
              </v-data-table>
            </v-card>
          </v-col>
        </v-row>


      </v-container>

      <!-- 编辑公式 -->
      <v-navigation-drawer v-model="isAddDrawerShow" :permanent="isAddDrawerShow" fixed temporary right width="80%"
        class="elevation-24">
        <v-row>
          <span class="title pa-6 pl-6 pr-1" :class="{'pl-8': !isMobile, 'pl-6': isMobile}">{{editItem.itemName}}--编辑公式</span>
          <span class="title pa-6 pl-1 pr-1" style="width: 200px;">
            <select-period v-if="isAddDrawerShow" 
              v-model="editItem.period" :clearable="false"
              @change="doUiAction('selectFormulaList', {})"
              />
          </span>
        </v-row>
        <v-form v-model="isFormValid" ref="form" v-if="isAddDrawerShow" lazy-validation>
          <report-cash-flow-ex-formula 
            v-model="formulaList" 
            :item="editItem" :subject-list="subjectList" 
            :loading-formula-list="loadingFormulaList"
            @doDeleteItem="doUiAction('doDeleteFormulaItem', { item: $event})">
          </report-cash-flow-ex-formula>
          <!-- 抽屉操作按钮 -->
          <v-row class="justify-end mx-0 mt-8 px-6">
            <v-btn class="ml-2" small @click="isAddDrawerShow = false"><v-icon size="14">mdi-close</v-icon>取消</v-btn>
            <v-btn class="ml-2" small color="success" @click="doUiAction('doSubmitFormula', {})"><v-icon size="14">mdi-content-save-check-outline</v-icon>保存</v-btn>
          </v-row>
        </v-form>
        <!-- 抽屉关闭按钮 -->
        <v-btn elevation="0" color="success" fab absolute top left small tile class="drawer-close-float-btn" @click="isAddDrawerShow = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>

      </v-navigation-drawer>
    </v-card>
  </v-container>
</template>

<script type="module">
  Vue.component("report-cashFlow-ex", {
    template: '#report-cashFlow-ex',
    props: {},
    data: () => ({
      isMobile: window.innerWidth < 500,
      // 表格相关数据
      isTableZebraLineMenuShown: false,
      tableZebraLineMenuPosition: {x: null, y: null},
      isTableZebraLineShown: true,
      isFormValid: true,
      validationRules: {
        requireRules: [
          v => !!v || '必填',
        ],
      },
      constantObj: {
        types: [
          { text: '资产', vlaue: '借' },
          { text: '负债', vlaue: '贷' },
        ],
      },
      serverSearchInput: {
        period: {
          periodId: null,
          currentPeriodId: null,
        },
      },
      searchInput: null,
      liabilitiesSearchInput: null,
      isTableLoading: true,

      tableDataFromBackend: [],

      editItem: {
        period: {
          periodId: null,
          currentPeriodId: null,
        }
      },
      headers: [
        { text: "项目", value: "itemName", sortable: false, width: 120 },
        { text: "行次", value: "row", sortable: false, width: 20 },
        { text: "公式数-科目", value: "formula-count", width: 80 },
        { text: "本月数", value: "item-occur-amount-period", align: 'end', sortable: false, width: 80 },
        { text: "本年数", value: "item-occur-amount-year", align: 'end', sortable: false, width: 80 },
      ],
      isAddDrawerShow: false,
      subjectList: [],
      formulaList: [],
      formulaListOfYearStart: [],
      loadingFormulaList: false,
    }),
    computed: {
      tableData() {
        return this.tableDataFromBackend;
      },
    },
    watch: { },
    async created() {
      
    },
    mounted() { },
    methods: {
      async doUiAction(uiActionId, uiActionData) {
        switch (uiActionId) {
          case 'refreshTableData':
            await this.refreshTableData();
            await this.getSubjectList();
            break;  
          case 'openTableZebraLineMenu':
            await this.openTableZebraLineMenu(uiActionData);
            break;
          case 'startEditFormula':
            await this.startEditFormula(uiActionData);
            break;
          case 'selectFormulaList':
            uiActionData.force = false;
            await this.selectFormulaList(uiActionData);
            break;  
          case 'doDeleteFormulaItem':
            uiActionData.force = true; // Tip: 强制刷新 formulaList
            await this.doDeleteFormulaItem(uiActionData);
            await this.selectFormulaList(uiActionData);
            break;  
          case 'doSubmitFormula':
            uiActionData.force = true; // Tip: 强制刷新 formulaList
            await this.prepareValidate();
            await this.doSubmitFormula();
            await this.selectFormulaList(uiActionData);
            await this.refreshTableData();
            break;
          default:
            console.error("[doUiAction] uiActionId not find", { uiActionId });
            break;
        }
      },
      async startEditFormula({ item }) {
        this.formulaList = []
        this.isAddDrawerShow = true
        this.editItem = {
          ...item,
          itemOccurAmountPeriodSum: 0,
          itemOccurAmountYearSum: 0,
          period: {
            periodId: null,
            currentPeriodId: null,
          }
        }
      },

      async prepareValidate() {
        if (this.$refs.form.validate() === false) {
          window.vtoast.fail({ message: "输入有误, 请检查!" });
          throw new Error("[prepareValidate] false");
        }
      },

      /**
       * uiActionId:  refreshTableData
       * description: ✅获取表格数据
      */
      async refreshTableData() {
        this.isTableLoading = true;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'report-cashFlow',
              actionId: 'ex-getItemListOfCashFlowEx',
              actionData: {
                periodId: this.serverSearchInput.period.periodId
              },
              where: {},
            }
          }
        });

        const { rows } = result.data.appData.resultData;
        this.tableDataFromBackend = rows;
        this.isTableLoading = false;
      },    
      // ---------- 斑马纹开关 uiAction >>>>>>>>>> --------
      async openTableZebraLineMenu(funObj) {
        this.tableZebraLineMenuPosition.x = funObj.x - funObj.offsetX + 10;
        this.tableZebraLineMenuPosition.y = window.innerHeight - 50;
        this.isTableZebraLineMenuShown = !this.isTableZebraLineMenuShown;
      },
      // ---------- <<<<<<<<<< 斑马纹开关 uiAction --------
      // =================================uiAction 公共方法 end ======================================
      async getSubjectList() {
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'report-cashFlow',
              actionId: 'ex-selectSubjectList',
              actionData: {},
              where: {},
              orderBy: [{column: 'subjectId', order: 'asc'}]
            }
          }
        });
        const { rows } = result.data.appData.resultData;

        this.subjectList = rows;
      },

      async selectFormulaList({ force=false }) {
        if ( force !== true && this.formulaList.findIndex(v => !v.id) > -1) {
          window.confirmDialog({title: "警告", content: "请保存公式!"})
          throw new Error("请保存公式!");
        }

        this.loadingFormulaList = true
        const { itemId } = this.editItem;
        const result = await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'report-cashFlow',
              actionId: 'ex-selectFormulaList',
              actionData: {},
              where: {
                 itemId,
                 // Tip：|| '' ===> 默认什么都查不到
                 periodId: this.editItem.period.periodId || ''
              },
              orderBy: [{column: 'id', order: 'asc'}]
            }
          }
        });
        this.loadingFormulaList = false
        const { rows } = result.data.appData.resultData;
        this.formulaList = rows;
        this.formulaList.forEach(formula => {
          switch(formula.accessRule) {
            case '借方发生额':
              formula.itemOccurAmountPeriod = formula.occurDebit;
              formula.itemOccurAmountYear = formula.occurDebitYear;
              break;
            case '贷方发生额':
              formula.itemOccurAmountPeriod = formula.occurCredit;
              formula.itemOccurAmountYear = formula.occurCreditYear;
              break;
            case '损益发生额':
              formula.itemOccurAmountPeriod = formula.occurAmount;
              formula.itemOccurAmountYear = formula.occurAmountYear;
              break;
            default:
              formula.itemOccurAmountPeriod = 0;
              formula.itemOccurAmountYear = 0;
          }
        })
        
        
        this.editItem.itemOccurAmountPeriodSum = _.reduce(this.formulaList, function(sum, formula) {
          if (formula.countDirection === '+') {
            return sum + formula.itemOccurAmountPeriod;
          }
          if (formula.countDirection === '-') {
            return sum - formula.itemOccurAmountPeriod;
          }
          return sum;
        }, 0);
        this.editItem.itemOccurAmountYearSum = _.reduce(this.formulaList, function(sum, formula) {
          if (formula.countDirection === '+') {
            return sum + formula.itemOccurAmountYear;
          }
          if (formula.countDirection === '-') {
            return sum - formula.itemOccurAmountYear;
          }
          return sum;
        }, 0);
      },
      async doDeleteFormulaItem({ item }) {
        if (!item.id) {
          window.vtoast.success('删除公式');
          return;
        }
        window.vtoast.loading('删除公式');
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'report-cashFlow',
              actionId: 'ex-deleteFormulaItem',
              where: {
                itemId: item.itemId,
                subjectId: item.subjectId,
              },
            }
          }
        })
        window.vtoast.success('删除公式');
      },
      async doSubmitFormula() {
        window.vtoast.loading("公式保存");
        await window.jianghuAxios({
          data: {
            appData: {
              pageId: 'report-cashFlow',
              actionId: 'ex-saveFormulaListOfCashFlowEx',
              actionData: {
                itemId: this.editItem.itemId,
                formulaList: this.formulaList
              }
            }
          }
        })
        window.vtoast.success("公式保存");
      },
      async exportExcel() {
        const excelDataList = _.cloneDeep(this.tableData);
        excelDataList.forEach(item => {
          if (item.computeFormula) {
            const { computeFormula } = item;
            item.computeFormula = computeFormula.replace(/L/g, 'D');
            item.computeFormula2 = computeFormula.replace(/L/g, 'E');
          }
          if (item.formulaListStr) {
            item.formulaListStr = `[${item.formulaListStr}]`;
            item.formulaListStr2 = `[${item.formulaListStr2}]`;
          }
        })
        const headers = _.cloneDeep(this.headers);
        headers.push(
          { text: "本月数-行公式", value: "computeFormula", sortable: false, width: 5 },
          { text: "本年数-行公式", value: "computeFormula2", sortable: false, width: 5 },
          { text: "科目公式", value: "formulaListStr", sortable: false, width: 5 },
          { text: "科目(取值)公式", value: "formulaListStr2", sortable: false, width: 5 },
        )
        const params = {
          header: headers.filter(header => header.text != '操作').map(header => header.text),
          key: headers.filter(header => header.text != '操作').map(header => header.value),
          data: excelDataList,
          filename: dayjs().format('YYYYMMDDHHmmss') + '_' + '现金流量表-EX表',
          // deleteRows: [0]
        };
        excelUtil.exportData(params);
      }
    }  
  })
</script>
<style>
.add-btn {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
}
</style>