<style scoped>
  table th {
    border-top: 1px solid rgb(221, 221, 221);
    border-right: 1px solid rgb(221, 221, 221);
  }
  table thead tr:first-child th {
    border-top: none;
    border-right: 1px solid rgb(221, 221, 221);
  }
  table td {
    border-right: 1px solid rgb(221, 221, 221) !important;
  }
  table th, table tr:nth-child(2) th {
    border-right: 1px solid rgb(221, 221, 221) !important;
  }
  table tr th:last-child, table tr td:last-child  {
    border-right: none !important;
    border-right: none !important;
  }
  table th.colspan-th {
    height: 25px !important;
    max-height: 25px !important;
  }
  .theme--light.v-data-table tbody td {
    border-color: rgb(221, 221, 221)!important;
  }
  
  
 
  .v-data-table {
    /* border: 1px solid rgb(221, 221, 221) !important; */
    overflow: hidden
  }
  table thead tr:nth-child(2) th {
    top: 25px !important;
    border-top: none;
    height: 25px !important;
    max-height: 25px !important;
  }
  .theme--light.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
    font-weight: 600;
  }
</style>